/* * {
    border: 1px solid black;
}*/

// Import Google Font

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

// Page styling 

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(177, 241, 211);

    h2,
    h3 {
        font-size: 18px;
    }

    h1,
    h2,
    h3,
    p {
        font-family: 'DM Mono';
    }
}

.panel-container {
    display: flex;
    flex-direction: row;
    max-width: 1440px;

    @media (max-width: 1200px) {
        flex-direction: column;
    }

    >div {
        flex: 1
    }

    .input-panel-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .input-panel-container {
            width: 90%;

            .input-panel-text {

                &__title {
                    margin-bottom: 0;
                }

                &__subtitle {
                    margin-top: 0;

                    font-size: 16px;
                    font-style: italic;
                    font-weight: normal;
                    text-decoration: underline;

                    color: grey;
                }

                &__description {
                    font-weight: normal;
                    line-height: 1.2;
                }
            }

            .input-data-container {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;

                /*border: 1px solid black;*/

                .input-container {
                    flex: 1 1 50%;
                    padding: 15px;
                    max-width: 40%;
                    margin-bottom: 10px;

                    border: 1px solid black;

                    &.input-border-gradient {
                        border-style: solid;
                        border-width: 5px;
                        border-image-slice: 1;


                        &--green {
                            border-image-source: linear-gradient(to left, #53a055, #7D0);
                        }
                    }

                    .input {
                        &__title {
                            margin: 0;
                            font-size: 20px;
                            color: gray;
                        }

                        &__subtitle {
                            margin-top: 0;
                            margin-bottom: 10px;
                            font-size: 14px;
                            font-style: italic;
                            color: gray;
                        }

                        &__data {}

                        &__radio {
                            display: flex;
                            flex-direction: column;

                            label {
                                font-family: "DM Mono";
                                font-size: 16px;
                            }
                        }

                        &__status {
                            margin-top: 10px;
                            margin-bottom: 0;
                            font-size: 20px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }


    .output-panel {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__code-block {
            position: relative;
            top: 99px;
            width: 90%;

            font-size: 15px;

            pre {
                height: 700px;
            }
        }
    }
}